.m-20-10 {
  margin: 20px 0 10px;
}
.m-10-30 {
  margin: 10px 0 30px;
}
.m-10-20 {
  margin: 10px 0 20px;
}
.m-10-0 {
  margin: 10px 0;
}
.mt-20 {
  margin-top: 20px;
}
.m-50-auto {
  margin: 50px auto;
}
.f-bold {
  font-weight: bold;
}
.f-normal {
  font-weight: normal;
}
.text-capitalize {
  text-transform: capitalize;
}
.html__oveflow {
  overflow: hidden;
}
