@use "./mixins" as mixins;

$dark-blue: #00445b;
$black: #000;
$gray-64: #646464;
$lighter: #ecfefa;
$yellow: #fdb44b;
$white: #ffffff;

.header__container {
  position: relative;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 10.25rem;
  padding: 2rem 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    // opacity: 0;
    // z-index: -2;
  }
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__title {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0.02em;
    margin-left: 1rem;
    text-transform: uppercase;
  }
  &__link {
    @include mixins.nav__link();
  }

  &__btn {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1.875rem;
    height: 0.93rem;
    cursor: pointer;
    position: absolute;
  }

  &__line {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $lighter;
    width: 1.875rem;
    height: 0.06rem;

    &:nth-child(2) {
      margin: 5px 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .html__oveflow {
    overflow: hidden;
  }
  .nav {
    display: inline-block;
    padding: 1rem 0;
    height: 100px;
    &__brand {
      justify-content: flex-start;
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      width: 100vw;
      height: 100vh;
      background-color: $lighter;
      position: fixed;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -999;
      padding: 15px 0;
    }
    &__show {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      z-index: 998;
      overflow: auto;
    }
    &__title {
      font-size: 1.5rem;
    }
    &__link {
      @include mixins.nav__link();
      margin: 0.8rem auto;
      display: inline-block;
      font-size: 1.5rem;
    }
    &__btn {
      display: flex;
      right: 1.6rem;
      top: 1.6rem;
      position: fixed;
      z-index: 999;
      background-color: $dark-blue;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      &:hover {
        box-shadow: 0 6px 12px 0 rgb(17 58 108 / 30%);
      }
    }
    &__active {
      right: 2.2rem;
      .nav__line {
        &:nth-child(1) {
          transform: translateY(0.41rem) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-0.41rem) rotate(-45deg);
        }
      }
    }
    &__logo {
      width: 4.375rem;
      height: 4.375rem;
    }
  }
}


@media (min-width: 767px) and (max-width: 1279px) {
    .nav {
      display: inline-block;
      padding: 1rem 0;
      justify-content: center;
  
      &__logo {
        width: 4rem;
        height: 4rem;
      }
  
      &__list {
        justify-content: space-between;
        margin-top: 1.5rem;
      }
  
      &__link {
        font-size: 1rem;
        margin: 0;
      }
    }
  }