//* Colors
$dark-blue: #00445b;
$lighten: #ecfefa;

//* Mixins
@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  background-color: $dark-blue;
  color: #fff;
  border: 1px solid #000;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: all 0.3s;
  margin-top: 30px;

  &:hover {
    background-color: $lighten;
    color: #000;
  }
}

//* Navbar
.navbar-wrapper {
  width: 100%;
  transition: all 0.3s;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 1366px;
  margin: 0 auto;

  .logo {
    color: #000;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    img {
      transition: all 0.3s;
    }

    .logo-title {
      display: inline-block;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      margin-left: 10px;
    }
  }

  .nav-list {
    display: flex;
    transition: all 0.3s;

    .nav-link {
      display: inline-block;
      margin-left: 30px;
      color: #000;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      transition: all 0.3s;

      &:hover {
        color: $dark-blue;
      }
    }
  }

  .hamburger-menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 15px;
    cursor: pointer;

    .hamburger {
      display: inline-block;
      width: 30px;
      height: 1px;
      background-color: #000;
      transition: all 0.3s;
    }
  }

  .hamburger-active {
    .hamburger:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    .hamburger:nth-child(2) {
      opacity: 0;
    }
    .hamburger:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }
  }
}

.sticky {
  height: 110px;
  position: fixed;
  z-index: 111;
  background-color: $lighten;

  .logo {
    img {
      width: 70px;
      height: 70px;
    }
  }
}

//* Footer
.footer {
  width: 100%;
  background-color: #bee9ff;

  .footer-wrapper {
    width: 1366px;
    margin: 0 auto;
    padding: 3.125rem 6.25rem;
  }

  .footer-title {
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: $dark-blue;
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .footer-input {
      border: none;
      padding: 15px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.02em;
      width: 25%;
      outline: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .footer-input[type="number"] {
      -moz-appearance: textfield;
    }
    .submit-btn {
      @include btn();
      padding: 14px 0;
      width: 169px;
      margin: 0;
      cursor: pointer;
    }
  }

  .line {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 1px;
    background-color: rgba(0, 68, 91, 0.5);
    margin: 50px auto;
  }

  .copyright {
    display: flex;
    align-items: flex-end;
    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 274px;
      height: 100px;
    }

    .footer-logo-text {
      margin-left: 1.1rem;
      .logo-title {
        font-weight: bold;
        font-size: 1.375rem;
        line-height: 1.7rem;
        text-transform: uppercase;
        letter-spacing: 0.02em;
        color: #000;
        margin-bottom: 10px;
      }
      .logo-desc {
        font-size: 0.9rem;
        line-height: 1.1rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #000;
      }
    }
  }
  .copyright-text {
    font-size: 0.9rem;
    line-height: 1.1rem;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar {
    width: 100%;
    padding: 1rem;
    display: flex;
    // flex-wrap: nowrap;
    align-items: center;

    .nav-list {
      display: flex;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: all 0.3s;
      transform: translateX(0);
      justify-content: center;

      .nav-link {
        display: inline-block;
        margin: 0 20px 0 0;
      }
    }

    .logo {
      margin: 0 auto 20px;
      .logo-title {
        font-size: 1rem;
        line-height: 20px;
      }
      img {
        width: 60px;
        height: 60px;
      }
    }

    .hamburger-menu {
      display: none;
    }
  }
  .sticky {
    height: 130px;
    .logo {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .footer-wrapper {
    width: 100% !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0;
    display: flex;
    height: 0;
    width: 100%;
    text-align: center;
    transition: all 0.3s;

    .nav-list {
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      width: 100%;
      height: 100vh;
      .nav-link {
        font-size: 1.5rem;
        display: inline-block;
        margin: 0 0 20px 0;
      }
    }

    .nav-active {
      z-index: 1111;
      transform: translateX(0);
      transition: all 0.7s;
      background-color: $lighten;
    }

    .logo {
      padding: 1rem 0 0 1rem;
      .logo-title {
        font-size: 1.7rem;
      }
      img {
        width: 60px;
        height: 60px;
      }
    }

    .hamburger-menu {
      display: flex;
      position: fixed;
      right: 20px;
      top: 30px;
    }
  }
  .sticky {
    height: 70px;
    .logo {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .footer-wrapper {
    width: 100% !important;
    padding: 1rem !important;

    .form {
      display: inline-block;

      .footer-input {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .copyright {
      height: 80px;
    }

    .line {
      margin: 20px auto;
    }

    .footer-logo {
      width: 191px !important;
      margin: 0 auto;
      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
